<div class="py-12 sm:py-16 pb-4 sm:pb-4">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Everything You Need to Manage Bridge Information</p>
      <p class="mt-6 text-lg leading-8 text-gray-600">Our platform helps teachers and students maintain better control over the data regarding designed bridges. Easy to use and accessible for everyone.</p>
    </div>
    <div class="mx-auto mt-10 max-w-2xl sm:mt-16 lg:mt-20 lg:max-w-4xl"> <!-- Adjusted margin -->
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg ">
              <%= image_tag "user-3.png", class: "h-9 w-auto"%>
            </div>
            User Profile
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">Keep track of your information and manage your personal data in a simple and efficient way.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg ">
              <%= image_tag "track.png", class: "h-9 w-auto"%>
            </div>
            Bridge Records
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">You can more easily keep track of data about the bridges designed over the years.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg ">
              <%= image_tag "bridge.png", class: "h-9 w-auto"%>
            </div>
            Create Bridges
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">You can manually create a bridge with data entered from the keyboard or, with the new feature, you can upload a CSV file with data, and we will create the bridge for you.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg ">
              <%= image_tag "statistics.png", class: "h-9 w-auto"%>
            </div>
            Advanced Statistics
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">For each bridge, we provide statistics with charts that help analyze and interpret the data.</dd>
        </div>
      </dl>
    </div>
  </div>
</div>


<div class="mt-2 flex flex-wrap justify-center items-center gap-12">
    <!-- Comments -->
    <div
        class="flex h-20 w-40 flex-col items-center justify-center rounded-md border border-dashed border-gray-200 transition-colors duration-100 ease-in-out hover:border-gray-400/80">
        <div class="flex flex-row items-center justify-center">
        <svg width="29px" height="29px" viewBox="0 0 1024 1024" class="icon"  version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M847.4 285.7c-10.8-11.4-28.9-11.9-40.3-1.1-69.4 65.7-182.4 106.6-295.1 106.6-112.7 0-225.7-40.8-295.1-106.5-11.4-10.8-29.5-10.3-40.3 1.1-10.8 11.4-10.4 29.5 1.1 40.3 29.5 27.9 65.6 52.2 106.1 71.5v301.2c0 8 6.5 14.5 14.5 14.5s14.5-6.5 14.5-14.5V410.2c7 2.8 14.1 5.4 21.2 7.9 18.5 6.4 37.4 11.8 56.7 16.2v264.4c0 8 6.5 14.5 14.5 14.5s14.5-6.5 14.5-14.5V440.1c25.8 4.5 52 7.1 77.9 7.8v250.7c0 8 6.5 14.5 14.5 14.5s14.5-6.5 14.5-14.5V448c25.9-0.7 52.1-3.4 77.9-7.8v258.5c0 8 6.5 14.5 14.5 14.5s14.5-6.5 14.5-14.5V434.3c19.3-4.4 38.3-9.8 56.7-16.2 7.2-2.5 14.3-5.2 21.2-7.9v288.5c0 8 6.5 14.5 14.5 14.5s14.5-6.5 14.5-14.5V397.5c40.6-19.3 76.7-43.6 106.1-71.5 11.3-10.8 11.7-28.9 0.9-40.3z" fill="#333E48" /><path d="M216.9 284.6c-11.4-10.8-29.5-10.3-40.3 1.1-10.8 11.4-10.4 29.5 1.1 40.3 22.5 21.3 48.8 40.4 78 56.9v-67.2c-14.1-9.6-27.1-20-38.8-31.1zM807.1 284.6c11.4-10.8 29.5-10.3 40.3 1.1 10.8 11.4 10.4 29.5-1.1 40.3-22.4 21.3-48.8 40.4-78 56.9v-67.2c14.1-9.6 27.1-20 38.8-31.1z" fill="" /><path d="M163 672h698v54.1H163z" fill="#A4A9AD" /><path d="M163 672h92.6v54.1H163zM768.4 672H861v54.1h-92.6z" fill="" /><path d="M105 201.7h115.1v676H105z" fill="#D1D3D3" /><path d="M105 201.7h115.1v74.4H105z" fill="" /><path d="M162.5 182.4c-8 0-14.5-6.5-14.5-14.5V91.6c0-8 6.5-14.5 14.5-14.5S177 83.6 177 91.6V168c0 7.9-6.5 14.4-14.5 14.4z" fill="#333E48" /><path d="M246.8 167.9c0-11.7-9.6-21.3-21.3-21.3H99.6c-11.7 0-21.3 9.6-21.3 21.3v48.7c0 11.7 9.6 21.3 21.3 21.3h125.9c11.7 0 21.3-9.6 21.3-21.3v-48.7z" fill="#A4A9AD" /><path d="M105 347.4h56.2v27.1H105zM134.4 567.6h56.2v27.1h-56.2zM163.8 453.4H220v27.1h-56.2zM163.8 701.1H220v27.1h-56.2zM105 791.1h56.2v27.1H105z" fill="" /><path d="M246.8 902v-48.7c0-11.7-9.6-21.3-21.3-21.3H99.6c-11.7 0-21.3 9.6-21.3 21.3V902h168.5z" fill="#A4A9AD" /><path d="M78.3 853.3h168.5V902H78.3z" fill="" /><path d="M260.1 874.7c0-4.2-3.5-7.7-7.7-7.7H72.7c-4.2 0-7.7 3.5-7.7 7.7v64.6c0 4.2 3.5 7.7 7.7 7.7h179.7c4.2 0 7.7-3.5 7.7-7.7v-64.6z" fill="#A4A9AD" /><path d="M803.9 201.7H919v676H803.9z" fill="#D1D3D3" /><path d="M803.9 201.7H919v74.4H803.9z" fill="" /><path d="M861.5 182.4c-8 0-14.5-6.5-14.5-14.5V91.6c0-8 6.5-14.5 14.5-14.5S876 83.6 876 91.6V168c-0.1 7.9-6.6 14.4-14.5 14.4z" fill="#333E48" /><path d="M777.2 167.9c0-11.7 9.6-21.3 21.3-21.3h125.9c11.7 0 21.3 9.6 21.3 21.3v48.7c0 11.7-9.6 21.3-21.3 21.3H798.5c-11.7 0-21.3-9.6-21.3-21.3v-48.7z" fill="#A4A9AD" /><path d="M862.8 347.4H919v27.1h-56.2zM833.3 567.6h56.2v27.1h-56.2zM803.9 453.4h56.2v27.1h-56.2zM803.9 701.1h56.2v27.1h-56.2zM862.8 791.1H919v27.1h-56.2z" fill="" /><path d="M777.2 902v-48.7c0-11.7 9.6-21.3 21.3-21.3h125.9c11.7 0 21.3 9.6 21.3 21.3V902H777.2z" fill="#A4A9AD" /><path d="M777.2 853.3h168.5V902H777.2z" fill="" /><path d="M763.9 874.7c0-4.2 3.5-7.7 7.7-7.7h179.7c4.2 0 7.7 3.5 7.7 7.7v64.6c0 4.2-3.5 7.7-7.7 7.7H771.6c-4.2 0-7.7-3.5-7.7-7.7v-64.6z" fill="#A4A9AD" /></svg>

            <span class="font-bold text-gray-600"> <%= Rails.cache.fetch("bridge_count_#{current_user.id}", expires_in: 24.hours) { Bridge.count } %></span>
        </div>

        <div class="mt-2 text-sm text-gray-400">Bridges</div>
    </div>

    <!-- Projects -->
    <div
        class="flex h-20 w-40 flex-col items-center justify-center rounded-md border border-dashed border-gray-200 transition-colors duration-100 ease-in-out hover:border-gray-400/80">
        <div class="flex flex-row items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
      </svg>
      

            <span class="font-bold text-gray-600"> <%= Rails.cache.fetch("user_count_#{current_user.id}", expires_in: 24.hours) { User.count } %> </span>
        </div>

        <div class="mt-2 text-sm text-gray-400">Users</div>
    </div>

    <!-- Projects -->
    <div
        class="flex h-20 w-40 flex-col items-center justify-center rounded-md border border-dashed border-gray-200 transition-colors duration-100 ease-in-out hover:border-gray-400/80">
        <div class="flex flex-row items-center justify-center">
        <svg width="29px" height="29px" viewBox="0 0 1024 1024" class="icon"  version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M847.4 285.7c-10.8-11.4-28.9-11.9-40.3-1.1-69.4 65.7-182.4 106.6-295.1 106.6-112.7 0-225.7-40.8-295.1-106.5-11.4-10.8-29.5-10.3-40.3 1.1-10.8 11.4-10.4 29.5 1.1 40.3 29.5 27.9 65.6 52.2 106.1 71.5v301.2c0 8 6.5 14.5 14.5 14.5s14.5-6.5 14.5-14.5V410.2c7 2.8 14.1 5.4 21.2 7.9 18.5 6.4 37.4 11.8 56.7 16.2v264.4c0 8 6.5 14.5 14.5 14.5s14.5-6.5 14.5-14.5V440.1c25.8 4.5 52 7.1 77.9 7.8v250.7c0 8 6.5 14.5 14.5 14.5s14.5-6.5 14.5-14.5V448c25.9-0.7 52.1-3.4 77.9-7.8v258.5c0 8 6.5 14.5 14.5 14.5s14.5-6.5 14.5-14.5V434.3c19.3-4.4 38.3-9.8 56.7-16.2 7.2-2.5 14.3-5.2 21.2-7.9v288.5c0 8 6.5 14.5 14.5 14.5s14.5-6.5 14.5-14.5V397.5c40.6-19.3 76.7-43.6 106.1-71.5 11.3-10.8 11.7-28.9 0.9-40.3z" fill="#333E48" /><path d="M216.9 284.6c-11.4-10.8-29.5-10.3-40.3 1.1-10.8 11.4-10.4 29.5 1.1 40.3 22.5 21.3 48.8 40.4 78 56.9v-67.2c-14.1-9.6-27.1-20-38.8-31.1zM807.1 284.6c11.4-10.8 29.5-10.3 40.3 1.1 10.8 11.4 10.4 29.5-1.1 40.3-22.4 21.3-48.8 40.4-78 56.9v-67.2c14.1-9.6 27.1-20 38.8-31.1z" fill="" /><path d="M163 672h698v54.1H163z" fill="#A4A9AD" /><path d="M163 672h92.6v54.1H163zM768.4 672H861v54.1h-92.6z" fill="" /><path d="M105 201.7h115.1v676H105z" fill="#D1D3D3" /><path d="M105 201.7h115.1v74.4H105z" fill="" /><path d="M162.5 182.4c-8 0-14.5-6.5-14.5-14.5V91.6c0-8 6.5-14.5 14.5-14.5S177 83.6 177 91.6V168c0 7.9-6.5 14.4-14.5 14.4z" fill="#333E48" /><path d="M246.8 167.9c0-11.7-9.6-21.3-21.3-21.3H99.6c-11.7 0-21.3 9.6-21.3 21.3v48.7c0 11.7 9.6 21.3 21.3 21.3h125.9c11.7 0 21.3-9.6 21.3-21.3v-48.7z" fill="#A4A9AD" /><path d="M105 347.4h56.2v27.1H105zM134.4 567.6h56.2v27.1h-56.2zM163.8 453.4H220v27.1h-56.2zM163.8 701.1H220v27.1h-56.2zM105 791.1h56.2v27.1H105z" fill="" /><path d="M246.8 902v-48.7c0-11.7-9.6-21.3-21.3-21.3H99.6c-11.7 0-21.3 9.6-21.3 21.3V902h168.5z" fill="#A4A9AD" /><path d="M78.3 853.3h168.5V902H78.3z" fill="" /><path d="M260.1 874.7c0-4.2-3.5-7.7-7.7-7.7H72.7c-4.2 0-7.7 3.5-7.7 7.7v64.6c0 4.2 3.5 7.7 7.7 7.7h179.7c4.2 0 7.7-3.5 7.7-7.7v-64.6z" fill="#A4A9AD" /><path d="M803.9 201.7H919v676H803.9z" fill="#D1D3D3" /><path d="M803.9 201.7H919v74.4H803.9z" fill="" /><path d="M861.5 182.4c-8 0-14.5-6.5-14.5-14.5V91.6c0-8 6.5-14.5 14.5-14.5S876 83.6 876 91.6V168c-0.1 7.9-6.6 14.4-14.5 14.4z" fill="#333E48" /><path d="M777.2 167.9c0-11.7 9.6-21.3 21.3-21.3h125.9c11.7 0 21.3 9.6 21.3 21.3v48.7c0 11.7-9.6 21.3-21.3 21.3H798.5c-11.7 0-21.3-9.6-21.3-21.3v-48.7z" fill="#A4A9AD" /><path d="M862.8 347.4H919v27.1h-56.2zM833.3 567.6h56.2v27.1h-56.2zM803.9 453.4h56.2v27.1h-56.2zM803.9 701.1h56.2v27.1h-56.2zM862.8 791.1H919v27.1h-56.2z" fill="" /><path d="M777.2 902v-48.7c0-11.7 9.6-21.3 21.3-21.3h125.9c11.7 0 21.3 9.6 21.3 21.3V902H777.2z" fill="#A4A9AD" /><path d="M777.2 853.3h168.5V902H777.2z" fill="" /><path d="M763.9 874.7c0-4.2 3.5-7.7 7.7-7.7h179.7c4.2 0 7.7 3.5 7.7 7.7v64.6c0 4.2-3.5 7.7-7.7 7.7H771.6c-4.2 0-7.7-3.5-7.7-7.7v-64.6z" fill="#A4A9AD" /></svg>
    

            <span class="font-bold text-gray-600"><%= Rails.cache.fetch("instance_bridge_count_#{current_user.id}", expires_in: 24.hours) { InstanceBridge.count } %></span>
        </div>

        <div class="mt-2 text-sm text-gray-400">Instances Bridge</div>
    </div>
</div>