<!-- component -->
<br>
<br>
<br>
<div class="overflow-x-auto overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">
  <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">First Name</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Last Name</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Username</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Email</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Role</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900"></th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-100 border-t border-gray-100">
      <% @users.each do |user| %>
        <tr id="user-row-<%= user.id %>" class="hover:bg-gray-50">
          <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
            
            <div class="text-sm">
              <%=user.firstname%>
            </div>
          </th>
          <td class="px-6 py-4">
            <%=user.lastname%>
          </td>
          <td class="px-6 py-4">
            <%=user.username%>
          </td>
          <td class="px-6 py-4">
            <%=user.email%>
          </td>
          <td class="px-6 py-4">
            <%= turbo_frame_tag "status-#{user.id}" do %>
              <%= user.admin? ? "Admin" : "Student" %>
            <% end %>
          </td>
          
          <td class="px-6 py-4">
            <div class="flex justify-end gap-4">
            <%= turbo_frame_tag "publish-button-#{user.id}" do %>
            <%= render "profiles/publish_button", user: user%>
            <%end%>
             
            </div>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
<br>
<!-- Pagination -->
<nav aria-label="Page navigation example" class="mt-4">
  <ul class="list-style-none flex justify-center space-x-1">
    <li>
      <%= link_to 'Previous', all_users_path(page: @users.prev_page), 
                  class: "relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none focus:ring-0 active:bg-neutral-100 active:text-primary-700 #{'disabled:opacity-50 disabled:pointer-events-none' if @users.prev_page.nil?}", 
                  aria: { disabled: @users.prev_page.nil? } %>
    </li>

    <% total_pages = @users.total_pages %>
    <% current_page = @users.current_page %>

    <% if total_pages > 1 %>
      <%# Always show the first page %>
      <li>
        <%= link_to 1, all_users_path(page: 1), 
                    class: "relative block rounded bg-transparent px-3 py-1.5 text-sm #{ 'text-primary-700 bg-neutral-100' if 1 == current_page } transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none active:bg-neutral-100 active:text-primary-700" %>
      </li>

      <%# Display ellipsis if the second page is not immediately after the first page %>
      <% if current_page > 3 %>
        <li class="px-3">...</li>
      <% end %>

      <%# Show pages around the current page %>
      <% (current_page - 1).downto([2, current_page - 2].max) do |page| %>
        <li>
          <%= link_to page, all_users_path(page: page), 
                      class: "relative block rounded bg-transparent px-3 py-1.5 text-sm #{ 'text-primary-700 bg-neutral-100' if page == current_page } transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none active:bg-neutral-100 active:text-primary-700" %>
        </li>
      <% end %>

      <%# Always show the current page %>
      <li>
        <%= link_to current_page, all_users_path(page: current_page), 
                    class: "relative block rounded bg-transparent px-3 py-1.5 text-sm text-primary-700 bg-neutral-100 transition duration-300" %>
      </li>

      <%# Show next pages after the current page %>
      <% (current_page + 1).upto([total_pages - 1, current_page + 2].min) do |page| %>
        <li>
          <%= link_to page, all_users_path(page: page), 
                      class: "relative block rounded bg-transparent px-3 py-1.5 text-sm #{ 'text-primary-700 bg-neutral-100' if page == current_page } transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none active:bg-neutral-100 active:text-primary-700" %>
        </li>
      <% end %>

      <%# Display ellipsis if the second to last page is not immediately before the last page %>
      <% if current_page < total_pages - 2 %>
        <li class="px-3">...</li>
      <% end %>

      <%# Always show the last page %>
      <li>
        <%= link_to total_pages, all_users_path(page: total_pages), 
                    class: "relative block rounded bg-transparent px-3 py-1.5 text-sm #{ 'text-primary-700 bg-neutral-100' if total_pages == current_page } transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none active:bg-neutral-100 active:text-primary-700" %>
      </li>
    <% end %>

    <li>
      <%= link_to 'Next', all_users_path(page: @users.next_page), 
                  class: "relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none active:bg-neutral-100 active:text-primary-700 #{'disabled:opacity-50 disabled:pointer-events-none' if @users.next_page.nil?}", 
                  aria: { disabled: @users.next_page.nil? } %>
    </li>
  </ul>
</nav>

<!-- End Pagination -->

</div>