<%= form_with model: @instance_bridge, url: upload_photos_bridge_instance_bridge_path(@bridge, @instance_bridge), method: :patch, data: { turbo_frame: "avatars-list" }, html: { multipart: true } do |f| %>
    <div class="w-full mb-5">
      <!-- Custom file upload design -->
      <label for="dropzone-file" class="flex flex-col items-center justify-center py-9 w-full border border-gray-300 border-dashed rounded-2xl cursor-pointer bg-gray-50 ">
        <div class="mb-3 flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <g id="Upload 02">
              <path id="icon" d="M16.296 25.3935L19.9997 21.6667L23.7034 25.3935M19.9997 35V21.759M10.7404 27.3611H9.855C6.253 27.3611 3.33301 24.4411 3.33301 20.8391C3.33301 17.2371 6.253 14.3171 9.855 14.3171V14.3171C10.344 14.3171 10.736 13.9195 10.7816 13.4326C11.2243 8.70174 15.1824 5 19.9997 5C25.1134 5 29.2589 9.1714 29.2589 14.3171H30.1444C33.7463 14.3171 36.6663 17.2371 36.6663 20.8391C36.6663 24.4411 33.7463 27.3611 30.1444 27.3611H29.2589" stroke="#4F46E5" stroke-width="1.6" stroke-linecap="round" />
            </g>
          </svg>
        </div>
        <h2 class="text-center text-gray-400 text-xs font-normal leading-4 mb-1">PNG, JPG or PDF, smaller than 15MB</h2>
        <h4 class="text-center text-gray-900 text-sm font-medium leading-snug">Drag and Drop your file here or</h4>
        <!-- Hidden file input -->
        <%= f.file_field :avatars, multiple: true, class: "hidden", direct_upload: true, id: "dropzone-file" %>
      </label>
    </div>
  
    <div class="mt-6 flex items-center justify-end gap-x-6">
      <%= f.submit "Upload Photos", class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    </div>
  <% end %>
  

<br>

<div id="avatars-list" class="grid grid-cols-2 md:grid-cols-4 gap-2">
  <% @instance_bridge.avatars.each do |avatar_url| %>
    <div id="avatar-<%= avatar_url.id %>" class="relative" data-controller="zoom">
      <%= image_tag avatar_url, alt: "Avatar Image",
          class: "max-w-full rounded-lg object-cover transition-transform duration-300",
          style: "height: 210px;", 
          data: { zoom_target: "image", action: "click->zoom#toggle" } %>  <!-- Apply the action here -->
      
      <%= form_with(
            url: destroy_avatar_bridge_instance_bridge_path(@bridge, @instance_bridge, avatar_url: avatar_url),
            method: :delete,
            data: { turbo_stream: true }
          ) do |form| %>
        <button type="submit" class="absolute top-2 right-2 bg-indigo-500 text-white rounded-full p-2 hover:bg-red-700 z-50">
          <svg class="w-2 h-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M6 6L14 14M6 14L14 6"/>
          </svg>
        </button>
      <% end %>
    </div>
  <% end %>
</div>












<link href="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.css" rel="stylesheet">


<script src="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.js">

  document.addEventListener('DOMContentLoaded', function () {
    const carousel = new Flowbite.Carousel(document.querySelector('#gallery'));
  });
</script>



