<div id="search-modal" class="fixed inset-0 flex items-center justify-center hidden bg-gray-800 bg-opacity-50 z-50">
  <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-2xl"> <!-- Modal width adjusted for responsiveness -->
    <%= form_with(url: bridges_path, method: :get, local: true) do %>
      <!-- Responsive Grid: 1 column on mobile, 2 columns on medium+ screens -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4"> 
        <!-- Left Side Field (on large screens) -->
        
        <div>
          <%= label_tag :name, "Length" %>
          <%= select_tag :minimum_length, options_for_select([['', '']] + (10..200).to_a, selected: params[:minimum_length]), class: "block w-full p-2 text-xs text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" %>
        </div>
        <div>
        <%= label_tag :name, "Length" %>
        <%= select_tag :maximum_length, options_for_select([['', '']] + (10..200).to_a, selected: params[:minimum_length]), class: "block w-full p-2 text-xs text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" %>

        </div>
        <div>
          <%= label_tag :name, "Name" %>
          <%= text_field_tag :name, params[:name], class: "block w-full p-2 text-xs text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500", placeholder: "Search Bridges"%>
        </div>

        <!-- Right Side Field (on large screens) -->
        
      </div>

      <div class="mt-4 flex justify-end">
        <button type="button" id="close-modal" class="mr-2 text-gray-500">Cancel</button>
        <%= submit_tag "Search", class: "bg-blue-500 text-white rounded px-4 py-1" %>
      </div>
    <% end %>
  </div>
</div>
