<br>
    <br>
    <center>
    <%if bridge.latitude.blank? || bridge.longitude.blank?%>
    <p class="mt-1 max-w-3xl text-sm leading-6 text-gray-500">No location set</p>

    <%else%>
    <div id="map" style="height: 400px; width: 900px"></div>
    <script>

    var map = L.map('map').setView([<%= bridge.latitude %>, <%= bridge.longitude %>], 13);
    
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '© OpenStreetMap contributors'
    }).addTo(map);
    
    // Add a marker at the saved coordinates
    L.marker([<%= bridge.latitude %>, <%= bridge.longitude %>]).addTo(map);

    // Define the polygon coordinates
    var polygonCoordinates = <%= raw @bridge_polygon.to_json %>; // Assuming you are setting @bridge_polygon in your controller

    // Create the polygon and add it to the map
    var bridgePolygon = L.polygon(polygonCoordinates, { color: 'blue', weight: 3, opacity: 0.7 }).addTo(map);

    // Optionally, you can bind a popup to the polygon
    bridgePolygon.bindPopup("Bridge Location").openPopup();
    
    
    </script>
    <%end%>
    </center>


