<br>
<div data-controller="modal">
  <form class="max-w-md mx-auto">
      <label for="default-search" class="mb-1 text-xs font-medium text-gray-900 sr-only dark:text-white">Search</label>
      <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-2 pointer-events-none">
              <svg class="w-3 h-3 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
          </div>
          <input type="search" data-action="click->modal#open" class="block w-full p-2 ps-8 text-xs text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Users Logs" required />
      </div>
  </form>


  <div id="search-modal" class="fixed inset-0 flex items-center justify-center hidden bg-gray-800 bg-opacity-50 z-50" data-modal-target="modal">
    <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-2xl"> <!-- Modal width adjusted for responsiveness -->
      <%= form_with(url: activity_logs_path, method: :get, local: true) do %>
        <!-- Responsive Grid: 1 column on mobile, 2 columns on medium+ screens -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4"> 
          <!-- Left Side Field (on large screens) -->
          <div>
            <%= label_tag :name, "Name" %>
            <%= text_field_tag :name, params[:name], class: "block w-full p-2 text-xs text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500", placeholder: "Search Bridges"%>
          </div>
          <div>
            <%= label_tag :name_action, "Action" %>
            <%= text_field_tag :name_action, params[:name_action], class: "block w-full p-2 text-xs text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" %>
          </div>
        </div>

        <div class="mt-4 flex justify-end">
          <button type="button" data-action="click->modal#close" class="mr-2 text-gray-500">Cancel</button>
          <%= submit_tag "Search", class: "bg-blue-500 text-white rounded px-4 py-1" %>
        </div>
      <% end %>
    </div>
  </div>
</div>



<br>
<div class="max-w-3xl mx-auto">
<%@activity_logs.each do |activity_log|%>
<ol class="relative border-s border-gray-200 dark:border-gray-700">                  
    <li class="mb-10 ms-6">            
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
            <%= image_tag "user-2.png", class: "rounded-full shadow-lg"%>
        </span>
        <div class="items-center justify-between p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex dark:bg-gray-700 dark:border-gray-600">
            <time class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0"><%=time_ago(activity_log.timestamp)%></time>
            <div class="text-sm font-normal text-gray-500 dark:text-gray-300"><%=activity_log.user.username%> <%=activity_log.action%> named <%=activity_log.name%></div>
        </div>
    </li>
</ol>
<%end%>
		<!-- Pagination -->
<nav aria-label="Page navigation example" class="mt-4">
  <ul class="list-style-none flex justify-center space-x-1">
    <li>
      <%= link_to 'Previous', activity_logs_path(page: @activity_logs.prev_page, name: params[:name], name_action: params[:name_action]), 
                  class: "relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none focus:ring-0 active:bg-neutral-100 active:text-primary-700 #{'disabled:opacity-50 disabled:pointer-events-none' if @activity_logs.prev_page.nil?}", 
                  aria: { disabled: @activity_logs.prev_page.nil? } %>
    </li>

    <% total_pages = @activity_logs.total_pages %>
    <% current_page = @activity_logs.current_page %>

    <% if total_pages > 1 %>
      <%# Always show the first page %>
      <li>
        <%= link_to 1, activity_logs_path(page: 1, name: params[:name], name_action: params[:name_action]), 
                    class: "relative block rounded bg-transparent px-3 py-1.5 text-sm #{ 'text-primary-700 bg-neutral-100' if 1 == current_page } transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none active:bg-neutral-100 active:text-primary-700" %>
      </li>

      <%# Display ellipsis if the second page is not immediately after the first page %>
      <% if current_page > 3 %>
        <li class="px-3">...</li>
      <% end %>

      <%# Show pages around the current page %>
      <% (current_page - 1).downto([2, current_page - 2].max) do |page| %>
        <li>
          <%= link_to page, activity_logs_path(page: page, name: params[:name], name_action: params[:name_action]), 
                      class: "relative block rounded bg-transparent px-3 py-1.5 text-sm #{ 'text-primary-700 bg-neutral-100' if page == current_page } transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none active:bg-neutral-100 active:text-primary-700" %>
        </li>
      <% end %>

      <%# Always show the current page %>
      <li>
        <%= link_to current_page, activity_logs_path(page: current_page, name: params[:name], name_action: params[:name_action]), 
                    class: "relative block rounded bg-transparent px-3 py-1.5 text-sm text-primary-700 bg-neutral-100 transition duration-300" %>
      </li>

      <%# Show next pages after the current page %>
      <% (current_page + 1).upto([total_pages - 1, current_page + 2].min) do |page| %>
        <li>
          <%= link_to page, activity_logs_path(page: page, name: params[:name], name_action: params[:name_action]), 
                      class: "relative block rounded bg-transparent px-3 py-1.5 text-sm #{ 'text-primary-700 bg-neutral-100' if page == current_page } transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none active:bg-neutral-100 active:text-primary-700" %>
        </li>
      <% end %>

      <%# Display ellipsis if the second to last page is not immediately before the last page %>
      <% if current_page < total_pages - 2 %>
        <li class="px-3">...</li>
      <% end %>

      <%# Always show the last page %>
      <li>
        <%= link_to total_pages, activity_logs_path(page: total_pages, name: params[:name], name_action: params[:name_action]), 
                    class: "relative block rounded bg-transparent px-3 py-1.5 text-sm #{ 'text-primary-700 bg-neutral-100' if total_pages == current_page } transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none active:bg-neutral-100 active:text-primary-700" %>
      </li>
    <% end %>

    <li>
      <%= link_to 'Next', activity_logs_path(page: @activity_logs.next_page, name: params[:name], name_action: params[:name_action]), 
                  class: "relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none active:bg-neutral-100 active:text-primary-700 #{'disabled:opacity-50 disabled:pointer-events-none' if @activity_logs.next_page.nil?}", 
                  aria: { disabled: @activity_logs.next_page.nil? } %>
    </li>
  </ul>
</nav>

<!-- End Pagination -->

</div>