<div class="max-w-3xl mx-auto">

<%= form_with url: update_integrations_user_integrations_path, method: :put, local: true, class: "space-y-12" do %>
  <div class="border-b border-gray-900/10 pb-12">
    <h2 class="text-base font-semibold leading-7 text-gray-900">Manage Your Integrations</h2>
    <p class="mt-1 text-sm leading-6 text-gray-600">Choose which integrations you want to activate.</p>

    <div class="mt-6 space-y-10">
      <fieldset>
        <div class="mt-6 space-y-6">
          <% @integrations.each do |integration| %>
            <div class="relative flex gap-x-3">
              <div class="flex h-6 items-center">
                <%= check_box_tag 'integration_ids[]', integration.id, @user_integrations.include?(integration.id), class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
              </div>
              <div class="text-sm leading-6">
                <label for="integration_ids_#{integration.id}" class="font-medium text-gray-900">
                  <%= integration.integration_type %>
                </label>
                <p class="text-gray-500">Activate this integration to receive notifications via <%= integration.integration_type %> to receive the Profile of your created Bridge.</p>
              </div>
            </div>
          <% end %>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
    <%= submit_tag "Save", class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
  </div>
<% end %>
  </div>
