<br>
<!-- Trigger Button (Search Input) -->
<div data-controller="modal">
	<form class="max-w-md mx-auto">
		<label for="default-search" class="mb-1 text-xs font-medium text-gray-900 sr-only dark:text-white">Search</label>
		<div class="relative">
			<div class="absolute inset-y-0 start-0 flex items-center ps-2 pointer-events-none">
				<svg class="w-3 h-3 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
				</svg>
			</div>
			<input type="search"  data-action="click->modal#open" class="block w-full p-2 ps-8 text-xs text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Bridges" required />
		</div>
	</form>


<!-- Modal -->
<div id="search-modal" class="fixed inset-0 flex items-center justify-center hidden bg-gray-800 bg-opacity-50 z-50"  data-modal-target="modal">
  <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-2xl">
    <%= form_with(url: bridges_path, method: :get, local: true) do %>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <%= label_tag :name, "Minimum Length" %>
          <%= select_tag :minimum_length, options_for_select([['', '']] + (10..200).to_a, selected: params[:minimum_length]), class: "block w-full p-2 text-xs text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" %>
        </div>
        <div>
          <%= label_tag :name, "Maximum Length" %>
          <%= select_tag :maximum_length, options_for_select([['', '']] + (10..200).to_a, selected: params[:maximum_length]), class: "block w-full p-2 text-xs text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" %>
        </div>
        <div>
          <%= label_tag :name, "Name" %>
          <%= text_field_tag :name, params[:name], class: "block w-full p-2 text-xs text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500", placeholder: "Search Bridges" %>
        </div>
      </div>

      <div class="mt-4 flex justify-end">
        <button type="button" data-action="click->modal#close" class="mr-2 text-gray-500">Cancel</button>
        <%= submit_tag "Search", class: "bg-indigo-600 text-white rounded px-4 py-1" %>
      </div>
    <% end %>
  </div>
</div>
</div>



<div class="relative flex min-w-screen flex-col justify-center overflow-hidden py-6 sm:py-12">
  <div class="mx-auto max-w-screen-xl px-4 w-full">
    <div class="grid w-full sm:grid-cols-2 xl:grid-cols-4 gap-6">
      <% @bridges.includes(:user).each do |bridge| %>
        <div id="bridge-row-<%= bridge.id %>" class="relative flex flex-col shadow-md rounded-xl overflow-hidden hover:shadow-lg hover:-translate-y-1 transition-all duration-300 max-w-xs"> <!-- Reduced from max-w-sm to max-w-xs -->
				<%if bridge.user == current_user || current_user.admin? || current_user.super_admin?%>
          <div>
            <%= link_to bridge_path(bridge), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4"> <!-- Reduced the icon size -->
                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
              </svg>
            <% end %>
          </div>
					<%end%>

          <div class="h-auto overflow-hidden">
            <div class="h-32 overflow-hidden relative"> <!-- Reduced the image height -->
              <%= image_tag "bridge#{rand(1..3)}.png" %>
            </div>
          </div>
          <div class="bg-white py-2 px-2"> <!-- Reduced padding -->
            <h3 class="text-xs mb-2 font-medium"><%= truncate(bridge.name, length: 21) %></h3> <!-- Adjusted font size to text-xs -->
            <div class="flex justify-between items-center">
              <p class="text-xs text-gray-400">Author: <%= bridge.last.user.lastname %> <%= current_user.lastname %></p> <!-- Adjusted font size to text-xs -->
              <div class="relative z-40 flex items-center gap-2">
                <%= link_to bridge_path(bridge), method: :get do %>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4"> <!-- Reduced the icon size -->
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9.776c.112-.017.227-.026.344-.026h15.812c.117 0 .232.009.344.026m-16.5 0a2.25 2.25 0 0 0-1.883 2.542l.857 6a2.25 2.25 0 0 0 2.227 1.932H19.05a2.25 2.25 0 0 0 2.227-1.932l.857-6a2.25 2.25 0 0 0-1.883-2.542m-16.5 0V6A2.25 2.25 0 0 1 6 3.75h3.879a1.5 1.5 0 0 1 1.06.44l2.122 2.12a1.5 1.5 0 0 0 1.06.44H18A2.25 2.25 0 0 1 20.25 9v.776" />
                  </svg>
                <%end%>
                <%if current_user.admin? || current_user.super_admin?%>
                <%= link_to csv_bridge_path(bridge), method: :get do %>
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m18.375 12.739-7.693 7.693a4.5 4.5 0 0 1-6.364-6.364l10.94-10.94A3 3 0 1 1 19.5 7.372L8.552 18.32m.009-.01-.01.01m5.699-9.941-7.81 7.81a1.5 1.5 0 0 0 2.112 2.13" />
                  </svg>
                <%end%>
                <%end%>
								<%if current_user.admin? || current_user.super_admin?%>
                <%= link_to print_bridge_path(bridge), target: '_blank', method: :get do %>
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
										<path stroke-linecap="round" stroke-linejoin="round" d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0 1 10.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0 .229 2.523a1.125 1.125 0 0 1-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0 0 21 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 0 0-1.913-.247M6.34 18H5.25A2.25 2.25 0 0 1 3 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 0 1 1.913-.247m10.5 0a48.536 48.536 0 0 0-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5Zm-3 0h.008v.008H15V10.5Z" />
									</svg>
                <%end%>
								
                <%= link_to edit_bridge_path(bridge), method: :get do %>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4"> <!-- Reduced the icon size -->
                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                  </svg>
                <%end%>
								<%end%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
		<br>
		<!-- Pagination -->
<nav aria-label="Page navigation example" class="mt-4">
  <ul class="list-style-none flex justify-center space-x-1">
    <li>
      <%= link_to 'Previous', bridges_path(page: @bridges.prev_page, name: params[:name]), 
                  class: "relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none focus:ring-0 active:bg-neutral-100 active:text-primary-700 #{'disabled:opacity-50 disabled:pointer-events-none' if @bridges.prev_page.nil?}", 
                  aria: { disabled: @bridges.prev_page.nil? } %>
    </li>

    <% (1..@bridges.total_pages).each do |page| %>
      <li>
        <%= link_to page, bridges_path(page: page, name: params[:name]), 
                    class: "relative block rounded bg-transparent px-3 py-1.5 text-sm #{ 'text-primary-700 bg-neutral-100' if page == @bridges.current_page } transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none active:bg-neutral-100 active:text-primary-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:focus:text-primary-500 dark:active:bg-neutral-700 dark:active:text-primary-500" %>
      </li>
    <% end %>

    <li>
      <%= link_to 'Next', bridges_path(page: @bridges.next_page, name: params[:name]), 
                  class: "relative block rounded bg-transparent px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none active:bg-neutral-100 active:text-primary-700 #{'disabled:opacity-50 disabled:pointer-events-none' if @bridges.next_page.nil?}", 
                  aria: { disabled: @bridges.next_page.nil? } %>
    </li>
  </ul>
</nav>
<!-- End Pagination -->


  </div>
</div>
