<br>
<br>
<div class="max-w-4xl mx-auto">
<div>
  <div class="top-0 bg-gray-50">
    <!-- Container with responsive flex direction -->
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center">

      <!-- Bridge Name with wrapping and max width -->
      <div class="text-2xl sm:text-3xl md:text-3xl tracking-wide max-w-full overflow-hidden text-ellipsis break-words">
        <%= @bridge.name %>
      </div>

      <!-- Button: Move below bridge name on mobile, side by side on desktop -->
      <div class="mt-3 md:mt-0">
        <% if @bridge.user == current_user || current_user.admin? %>
          <div class="flex space-x-4">
  <%= link_to "Create new Instance Bridge", new_bridge_instance_bridge_path(@bridge.id), class: "rounded-md bg-indigo-600 px-3 py-2 text-xs md:text-xs font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
  <%= button_to 'Clone to an Instance', clone_bridge_path(@bridge), method: :post, data: { turbo_confirm: 'Are you sure you want to clone this instance bridge?' }, class: "rounded-md bg-indigo-600 px-3 py-2 text-xs md:text-xs font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
</div>

 
        <% end %>
      </div>

    </div>
  </div>
</div>


<div data-controller="tabs">
  <!-- Tab Navigation -->
  <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400">
    <li class="me-2">
      <a href="#" data-tabs-target="tab" data-action="click->tabs#switch" class="tab-link inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
        Profile
      </a>
    </li>
    <li class="me-2">
      <a href="#" data-tabs-target="tab" data-action="click->tabs#switch" class="tab-link inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
        Instances Bridge
      </a>
    </li>
    <li class="me-2">
      <a href="#" data-tabs-target="tab" data-action="click->tabs#switch" class="tab-link inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
        Statistics
      </a>
    </li>
    <li class="me-2">
      <a href="#" data-action="click->tabs#switch" data-tabs-target="tab" data-tab="map" class="tab-link inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
        Map
      </a>
    </li>
  </ul>


  <!-- Tab Content Sections -->
  <div data-tabs-target="content" class="tab-pane hidden" style="height: 39rem; overflow-y: auto;">
    <%= render partial: 'devise/shared/profile', locals: { bridge: @bridge } %>
  </div>
  <br>
  <center>
  <div id="buttons-container" class="buttons-container hidden" style="flex: 0 0 200px; margin-right: 20px;">
  <button 
    onclick="scrollToTable('table1')" 
    class="rounded-md bg-indigo-600 px-3 py-2 text-xs md:text-xs font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mb-2">
    Date de identificare
  </button>
  <button 
    onclick="scrollToTable('table2')" 
    class="rounded-md bg-indigo-600 px-3 py-2 text-xs md:text-xs font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 ml-5">
    C1-5
  </button>
  <button 
    onclick="scrollToTable('table3')" 
    class="rounded-md bg-indigo-600 px-3 py-2 text-xs md:text-xs font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 ml-5">
    F1
  </button>
  <button 
    onclick="scrollToTable('table4')" 
    class="rounded-md bg-indigo-600 px-3 py-2 text-xs md:text-xs font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 ml-5">
    F2
  </button>
  <button 
    onclick="scrollToTable('table5')" 
    class="rounded-md bg-indigo-600 px-3 py-2 text-xs md:text-xs font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 ml-5">
    F3
  </button>
  <button 
    onclick="scrollToTable('table6')" 
    class="rounded-md bg-indigo-600 px-3 py-2 text-xs md:text-xs font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 ml-5">
    F4
  </button>
  <button 
    onclick="scrollToTable('table7')" 
    class="rounded-md bg-indigo-600 px-3 py-2 text-xs md:text-xs font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 ml-5">
    F5
  </button>
  <button 
    onclick="scrollToTable('table8')" 
    class="rounded-md bg-indigo-600 px-3 py-2 text-xs md:text-xs font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 ml-5">
    IST
  </button>
  <button 
    onclick="scrollToTable('table9')" 
    class="rounded-md bg-indigo-600 px-3 py-2 text-xs md:text-xs font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600  ml-5">
    Clasa
  </button>
</div>
</center>


  <div data-tabs-target="content" class="tab-pane hidden">
       <%= render partial: 'devise/shared/tabs_instances', locals: { bridge: @bridge , instance_bridges: @instance_bridges} %>
  </div>
  <div data-tabs-target="content" class="tab-pane hidden">
    <%= render partial: 'devise/shared/tabs_stats', locals: { instance_bridges: @instance_bridges, flaw_instance_ist_total_hash: @flaw_instance_ist_total_hash, flaw_instance_ist_c_hash: @flaw_instance_ist_c_hash, flaw_instance_ist_f_hash: @flaw_instance_ist_f_hash} %>
  </div>
  <div data-tabs-target="content" class="tab-pane hidden" >
    <%= render partial: 'devise/shared/tabs_location', locals: { bridge: @bridge } %>

  </div>
</div>


