<nav class="bg-white shadow sticky top-0 z-40">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
          <%= link_to root_path do %>
            <%= image_tag "logo_sign_in.png", class: "mx-auto h-11 w-auto"%>
          <%end%>
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <%= link_to dashboard_path, class: "#{desktop_link_active?("dashboard")} rounded-md  px-3 py-2 text-sm font-medium text-gray-900" do %>
                Home
              <%end%>
              <%= link_to bridges_path, class: "#{desktop_link_active?("bridges")} rounded-md px-3 py-2 text-sm font-medium" do %>
                Bridges
              <%end%>
              <% if current_user.admin? || current_user.super_admin? %>
                <!-- Admin Side Dropdown -->
                <div class="relative group">
                  <button type="button" class="rounded-md px-3 py-2 text-sm font-medium">
                    Admin Side
                  </button>
                  <!-- Dropdown Menu -->
                  <div class="absolute left-0 mt-9 top-0 hidden group-hover:block w-48 origin-top-left rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" style="z-index: 999;">
                    <%= link_to comparison_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" do %>
                      Head to Head
                    <% end %>
                    <%= link_to big_map_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" do %>
                      Big Map
                    <% end %>
                    <%= link_to custom_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" do %>
                      Custom Statistics
                    <% end %>
                  <%= link_to upload_bridge_path, class: "block px-4 py-2 text-sm text-gray-700" do %>
                    Upload from CSV
                  <%end%>
                  </div>
                </div>
              <% end %>


              <div data-controller="donate-modal">
              <!--
<%= link_to "#", class: "rounded-md px-3 py-2 text-sm font-medium", data: { action: "click->donate-modal#open" } do %>
  Donate
<% end %>
-->
<!-- Donate Modal (Initially Hidden) -->
<div id="donate-modal" 
     class="hidden fixed inset-0 z-50 overflow-y-auto" 
     data-donate-modal-target="modal" 
     aria-labelledby="modal-title" 
     role="dialog" 
     aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
  
  <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
    <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
      <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
        <div class="mx-auto flex items-center justify-center sm:mx-0" style="width: auto; height: auto;">
        <%= image_tag "gift.svg", width: 170, height: 170, class: "object-cover object-center" %>
      </div>
      
          <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
            <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Support Us</h3>
            <div class="mt-2">
              <p class="text-sm text-gray-600">
                Enjoying what we do? Why not fuel our creativity with a coffee, or even a beer! <br>
                Click the link below and help keep the good vibes (and caffeine) flowing.
                We’ll love you forever (or at least until the coffee runs out)!
                <p class="text-sm text-gray-600">We appreciate your support a lot!</p>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
        <a href="https://ko-fi.com/yourusername" target="_blank" rel="noopener noreferrer"
           class="inline-flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 sm:ml-3 sm:w-auto">
          Buy us a Drink!
        </a>
        <button type="button" 
                class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
                data-action="click->donate-modal#close" 
                id="cancel-donate">
          Maybe Later!
        </button>
      </div>
    </div>
  </div>
</div>
</div>



              
            </div>
          </div>
        </div>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
           <%= link_to activity_logs_path do %>
            <button type="button" class="relative rounded-full bg-white p-1 text-gray-400 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-white">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">View notifications</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
              </svg>
            </button>
            <%end%>

            <div class="relative ml-3" id="dropdown-wrapper">
              <!-- Button to toggle dropdown -->
              <button type="button" onclick="toggleMenu()" class="relative flex max-w-xs items-center rounded-full bg-white text-sm focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
  <span class="absolute -inset-1.5"></span>
  <span class="sr-only">Open user menu</span>
  <%= image_tag "user.png", class: "h-8 w-8 rounded-full mr-2"%>
  
  <!-- Container for name and role with vertical stacking -->
  <div class="flex flex-col text-left">
    <span>
      Welcome <%= current_user.firstname %> <%= current_user.lastname %>
    </span>
    <div class="self-start rounded bg-indigo-500 py-0.5 px-1 text-[7px] font-semibold uppercase text-white mt-0.5 whitespace-nowrap">
  <%= 'administrator' if current_user.role == 'admin' %>
  <%= 'student' if current_user.role == 'student' %>
  <%= 'Super Administrator' if current_user.role == 'super admin' %>
</div>


  </div>
</button>

              
              <!-- Dropdown menu with transitions -->
              <div id="user-menu" class="absolute right-0 z-9999 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none transform transition duration-100 ease-out opacity-0 scale-95 hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
              <%= link_to profile_path(current_user), class: "block px-4 py-2 text-sm text-gray-700" do %>
                Your Profile
              <%end%>
              <%= link_to edit_profile_path(current_user), class: "block px-4 py-2 text-sm text-gray-700" do %>
                Settings
              <%end%>
              <%= link_to user_integrations_path, class: "block px-4 py-2 text-sm text-gray-700" do %>
                Integrations
              <%end%>
                <% if current_user.admin? || current_user.super_admin?%>
                  <%= link_to 'All bridges', your_bridges_path, method: :get, class:"block px-4 py-2 text-sm text-gray-700"%>
                  <%= link_to 'All Users', all_users_path, method: :get, class:"block px-4 py-2 text-sm text-gray-700"%>
                <%else%>
                  <%= link_to 'Your own bridges', your_bridges_path, method: :get, class:"block px-4 py-2 text-sm text-gray-700"%>
                <%end%>
                
                <%= link_to new_bridge_path, class: "block px-4 py-2 text-sm text-gray-700" do %>
                Add a Bridge
                <%end%>
              
                
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"block px-4 py-2 text-sm text-gray-700"%>
              </div>
            </div>
          </div>
        </div>
        <div class="-mr-2 flex md:hidden">
          <!-- Mobile menu button -->
          <button type="button" class="relative inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-white"  aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!-- Menu open: "hidden", Menu closed: "block" -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!-- Menu open: "block", Menu closed: "hidden" -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="md:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
    <div data-controller="dropdown">
      <!-- Dropdown Toggle Button -->
      <button type="button" class="block rounded-md px-3 py-2 text-base font-medium" data-action="click->dropdown#toggle">
        Menu
      </button>
      
      <!-- Dropdown Menu (Hidden by default) -->
      <div class="space-y-1 hidden" data-dropdown-target="menu">
        <%= link_to dashboard_path, class: "#{mobile_link_active?("dashboard")} block rounded-md px-3 py-2 text-base font-medium" do %>
          Home
        <% end %>
        <%= link_to bridges_path, class: "#{mobile_link_active?("bridges")} block rounded-md px-3 py-2 text-base font-medium" do %>
          Bridges
        <% end %>
        <% if current_user.admin? || current_user.super_admin?%>
          <%= link_to comparison_path, class: "#{desktop_link_active?("bridges")} block rounded-md px-3 py-2 text-base font-medium" do %>
            Head to Head
          <% end %>
          <%= link_to big_map_path, class: "#{desktop_link_active?("bridges")} block rounded-md px-3 py-2 text-base font-medium" do %>
            Big Map
          <% end %>
          <%= link_to custom_path, class: "#{desktop_link_active?("bridges")} block rounded-md px-3 py-2 text-base font-medium" do %>
            Custom Statistics
          <% end %>
        <% end %>
        <%= link_to "#", class: "#{desktop_link_active?('bridges')} block rounded-md px-3 py-2 text-base font-medium", data: { action: "click->donate-modal#open" } do %>
          Donate
        <% end %>
      </div>
    </div>
  </div>
  
      <div class="border-t border-gray-200 pb-3 pt-4 md:hidden" data-controller="dropdown">
  <div class="flex items-center px-5">
    <div class="flex-shrink-0">
      <%= image_tag "user.png", class: "h-10 w-10 rounded-full" %>
      <button type="button" class="font-medium text-gray-900" data-action="click->dropdown#toggle">
        Welcome <%= current_user.firstname %> <%= current_user.lastname %>
        <div class="self-start rounded bg-indigo-500 py-0.5 px-1 text-[7px] font-semibold uppercase text-white mt-0.5 whitespace-nowrap">
  <%= 'administrator' if current_user.role == 'admin' %>
  <%= 'student' if current_user.role == 'student' %>
  <%= 'Super Administrator' if current_user.role == 'super admin' %>
</div>
      </button>
    </div>
    <%= link_to activity_logs_path do %>
      <button type="button" class="relative ml-auto flex-shrink-0 rounded-full bg-white p-1 text-gray-400 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-white">
        <span class="absolute -inset-1.5"></span>
        <span class="sr-only">View notifications</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
        </svg>
      </button>
    <% end %>
  </div>

  <!-- Dropdown Menu (Visible only on mobile) -->
  <div class="mt-3 space-y-1 px-2 hidden" data-dropdown-target="menu">
    <%= link_to profile_path(current_user), class: "block rounded-md px-3 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-900" do %>
      Your Profile
    <% end %>
    <%= link_to edit_profile_path(current_user), class: "block rounded-md px-3 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-900" do %>
      Settings
    <% end %>
    <%= link_to user_integrations_path, class: "block rounded-md px-3 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-900" do %>
      Integrations
    <% end %>
    <% if current_user.admin? || current_user.role == 'super admin'%>
      <%= link_to 'All bridges', your_bridges_path, method: :get, class: "block rounded-md px-3 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-900" %>
    <% else %>
      <%= link_to 'Your own bridges', your_bridges_path, method: :get, class: "block rounded-md px-3 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-900" %>
    <% end %>
    <%= link_to new_bridge_path, class: "block rounded-md px-3 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-900" do %>
      Add a Bridge
    <% end %>
    <% if current_user.role == 'admin' || current_user.role == 'super admin' %>
      <%= link_to upload_bridge_path, class: "block rounded-md px-3 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-900" do %>
        Upload from CSV
      <% end %>
    <% end %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "block rounded-md px-3 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-900" %>
  </div>
</div>

    </div>
  </nav>

  <script>
  function toggleMenu() {
    const menu = document.getElementById('user-menu');
    const isHidden = menu.classList.contains('hidden');
    
    if (isHidden) {
      // Show the menu
      menu.classList.remove('hidden');
      menu.style.zIndex = "999";
      setTimeout(() => {
        menu.classList.remove('opacity-0', 'scale-95');
        menu.classList.add('opacity-100', 'scale-100');
      }, 10);
      
      // Add event listener to detect outside clicks
      document.addEventListener('click', outsideClickListener);
    } else {
      closeMenu(menu);
      menu.style.zIndex = "";
    }
  }

  function closeMenu(menu) {
    // Hide the menu
    menu.classList.add('opacity-0', 'scale-95');
    menu.classList.remove('opacity-100', 'scale-100');
    setTimeout(() => {
      menu.classList.add('hidden');
    }, 100);
    
    // Remove the outside click listener
    document.removeEventListener('click', outsideClickListener);
  }

  function outsideClickListener(event) {
    const dropdown = document.getElementById('dropdown-wrapper');
    const menu = document.getElementById('user-menu');
    
    // Close the dropdown if the click is outside
    if (!dropdown.contains(event.target)) {
      closeMenu(menu);
    }
  }
</script>
