<!DOCTYPE html>
<html class="<%= " h-full bg-gray-50" if devise_controller? || user_signed_in? %>">
  <head>
    <title><%= content_for(:title) || "Cfdp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path("fci-nav.png") %>

    <!-- Add Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />

    <!-- Add Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>


    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body data-turbo-prefetch="false" class="<%= "h-full" if devise_controller? || user_signed_in? %>">
    
      <%= turbo_frame_tag "flash" do%>
      <%= render "layouts/flash"%>
      <% end %>

    <% if user_signed_in? %>
      <div>
      <%if SiteSetting.last.is_blocked == false%>
        <%= render "layouts/sidenav"%>
        <%end%>
        <main>
          <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">  
          <%= yield %>
          </div>
        </main>
        
      </div>
    <%else%>
      <%= yield %>
    <%end%>
 <footer style="text-align: center; padding: 5px; background-color: white; position: fixed; bottom: 0; width: 100%; font-size: 12px; height: 30px;">
      <p style="margin: 0;">Powered by <strong>Stefanache Silviu</strong></p>
    </footer>
  </body>
</html>
