<!DOCTYPE html>
<html class="<%= "h-full bg-gray-50" if devise_controller? || user_signed_in? %>">
  <head>
    <title><%= content_for(:title) || "Cfdp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path("fci-nav.png") %>



    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= "h-full" if devise_controller? || user_signed_in? %>">
    <div aria-live="assertive" class="pointer-events-none fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6 z-50">
      <div class="flex w-full flex-col items-center space-y-4 sm:items-end">
        <% flash.each do |type, data| %>
          <%= render NotificationComponent.new(type: type, data: data) %>
        <% end %>
      </div>
    </div>
    <% if user_signed_in? %>
      <div>
        <%= render "layouts/sidenav"%>
        <main>
          <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">  
          <%= yield %>
          </div>
        </main>
        
      </div>
    <%else%>
      <%= yield %>
    <%end%>
 
  </body>
</html>
